
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #111;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 2em;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: 600;
}

nav a {
  margin-left: 2em;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.hero {
  background: linear-gradient(to right, #fceae8, #f1f1f1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  max-width: 90%;
  width: 100%;
}

.bio-text p {
  font-size: 1.9em;
  line-height: 1.6;
  text-align: justify;
}

.publications-section {
  background-color: white;
  padding: 6rem 2rem;
}

.publications-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.note {
  text-align: center;
  font-style: italic;
  margin-bottom: 2rem;
}

.publications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.pub {
  font-size: 1rem;
  line-height: 1.6;
}
